/* portfolio section */
#portfolio {
  background-color: #fff;
}
.portfolio-wrapper > * {
  margin: 0;
  padding: 0;
}
.thumb-wrapper {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 33%;
  display: inline-block;
}
.outer-thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.portfolio-thumb {
  width: 100%;
}
.hover-thumb {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
}
.portfolio-buttons {
  margin: 0;
  padding-bottom: 3px;
}
.portfolio.button {
  color: white;
  margin: 0 5px 0 5px;
}
.thumb-header {
  margin: 5px 0 5px 0;
  padding: 0;
  color: white;
}
.info-text {
  color: white;
  padding: 0px 10px;
  font-size: 1.3rem;
}
@media screen and (max-width: 415px) {
  .thumb-wrapper {
    display: block;
    width: 100%;
  }
  .thumb-header {
    font-size: 2.2rem;
  }
  .info-text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 416px) and (max-width: 951px) {
  .thumb-wrapper {
    display: block;
    width: 100%;
  }
  .thumb-header {
    font-size: 4.0rem;
  }
  .info-text {
    font-size: 2.5rem;
  }
  .portfolio.button {
    font-size: 2.0rem;
    color: white;
    margin: 0 5px 0 5px;
  }
}
