/* shared */
a, h1, h2, h3, h4, p {
	color: #3B4A4D;
}
.section {
	min-height: 100vh;
}
.header-wrapper {
	padding-top: 15px;
}

/* home section */
#home {
	background: url(../images/canyon.jpg) 50% 50% no-repeat;
}
.splash {
	margin-top: 25%;
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
	min-width: 50%;
	text-align: center;
}
.splash h1 {
	color: white;
}
.splash h5 {
	color: rgba(255,255,255,0.7);
}
.down-arrow-wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.down-arrow > i {
	color: rgba(255,255,255,0.7);
}
.down-arrow:hover > i {
	color: white;
}

/* contact section */
#contact {
	background-color: rgb(247,248,250);
}
.message-wrapper {
	border: 1px solid #FF4431;
	text-align: center;
}
.message-text {
	color: #FF4431;
	padding-top: 20px;
}

/* social media icons */
.centered {
	margin: 0 auto;
	text-align: center;
}
.social-items {
	padding: 10px;
}
.social-items > p {
	padding-left: 10px;
}
.social-items > a {
	padding-left: 10px;
}
.filler {
	min-width: 10px;
}