/* shared */
a, h1, h2, h3, h4, p {
	color: #3B4A4D;
}
.section {
	min-height: 100vh;
}
.header-wrapper {
	padding-top: 15px;
}

/* home section */
#home {
	background: url(../images/canyon.jpg) 50% 50% no-repeat;
}
.splash {
	margin-top: 25%;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}
.splash h2, .splash p {
	color: white;
}
.spaced-button-left {
	margin-right: 5px;
}
.spaced-button-right {
	margin-left: 5px;
}

/* portfolio section */
#portfolio {
	background-color: #F7F8FA;
}

/* contact section */
.section-end {
	height: calc(100vh - 50px);
}
.message-wrapper {
	border: 1px solid #FF4431;
	text-align: center;
}
.message-text {
	color: #FF4431;
	padding-top: 20px;
}

/* footer (social media links) */
.social-wrapper {
	height: 50px;
	background-color: #F7F8FA;
}
.social-items {
	padding: 10px;
}
.social-items > p {
	padding-left: 10px;
}
.social-items > a {
	padding-left: 10px;
}
